<form [formGroup] = "userForm">
    <label>Name</label>
    <input type="text" formControlName = "name"/>
      <!-- <span *ngIf="userForm.get('name').hasError('required')">Name is required</span>
      <span *ngIf="userForm.get('name').hasError('minlength')">min char length is  5</span> -->
      <app-show-errors [ctrl]="addressObj.get('name')"></app-show-errors>
    <label>Age</label>
    <input type="text" formControlName = "age"/>
    <div formArrayName="address">
      <button type="button" (click)="addAddress()">Add</button>
      <div *ngFor= " let c of addressObj.controls; let i = index"
        [formGroupName]="i">
        <label>City</label>
        <input type="text" formControlName = "city"/>
        <label>Pincode</label>
        <input type="text" formControlName = "pinCode"/>
        <app-show-errors [ctrl]="c.get('pinCode')"></app-show-errors>
        <button type="button" (click)="removeAddress(i)">Remove</button>
      </div>
      
    </div>
    <button type="submit">Submit</button>
  </form>
  
  <pre>
    {{userForm.value |json}}
  </pre>